.logo{
    width: 50px;
    height: auto;
}

.barra{
      padding-top: 0%;
    }

.logoU{
    width: 30px;
    height: auto;
}

.inicio_sesion{
    width: 25px;
    height: auto;
    padding-right: 5px;
}

#header{
  width: 100%;
  z-index: 100;
}

#header h4{
  color: #ffffff;
  font-size: 2.3vw;
}

#header h5{
  color: #ffffff;
  margin-left: 30px;
}

#header a{
  margin-right: 7px;
}

#header .content{
  margin-left: 0px;
}
#header button{
  margin-left: 10px;
}

.img{
  height: 1.5em import;
}
