<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'img/icons/logotec.ico' %}"/>
    <title>Nuevo Usuario</title>
  </head>
  <body>

    {% include "menu/menu_admin.html" %}

    <div class="row d-flex justify-content-center wrapper contenido " style="padding-top:100px">
      <div class="col-sm-6">

        <form method="post">
          {% csrf_token %}

          <div class="card">
            <h5 class="card-header">Nuevo Usuario</h5>
            <div class="card-body">

              <div class="form-group">
              <p style="display:none;"><label for="id_id_usuario">Id Usuario:</label> <input type="text" name="id_usuario" maxlength="5" value="0" required id="id_id_usuario"></p>
              <p style="display:none;"><label for="id_usuario">Id Usuario:</label> <input type="text" name="usuario" maxlength="20" value="0" required id="id_usuario"></p>
              <p style="display:none;"><label for="id_nombre">Nombre:</label> <input type="text" name="nombre" maxlength="20" value="0" required id="id_clase"></p>
              <p style="display:none;"><label for="id_nprimer_ap">Primer Apellido:</label> <input type="text" name="primer_ap" value="0" maxlength="50" required id="id_primer_ap"></p>
              <p style="display:none;"><label for="id_segundo_ap">Segundo Apellido:</label> <input type="text" name="segundo_ap" value="0" maxlength="30" required id="id_segundo_ap"></p>
              <p style="display:none;"><label for="id_telefono">Telefono:</label><input name="telefono" cols="40" rows="20" value="0" required id="id_telefono"></p>
              <div class="form-group">
                <label for="id_tipo">Tipo de Usuario:</label> <select name="tipo" class="form-control" required id="id_tipo"><option value="1">Estudiante</option><option value="2">Docente</option><option value="3">Administrador</option></select>
              </div>
              <button type="submit" class="btn btn-primary float-right">Crear</button>
              </div>

            </div>
          </div>
        </form>
      </div>

      {% if messages %}
          {% for message in messages %}
              <div class="card">
                <h5 class="card-header">Nuevo Usuario</h5>
                <div class="card-body">
                  <h4>{{message}}</h4>
                  <h4>Conraseña: 1234</h4>
                </div>
              </div>
          {% endfor %}
      {% endif %}

    </div>
  </body>
</html>
