<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/icons/logotec.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/inicio_secion.css' %}">
    <title>Inicio Sesion</title>
  </head>
  <body>
    {% include "menu/menu_inicio.html" %}

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form class="" method="post">
          {% csrf_token %}
          <h1 class="display-4">Iniciar Sesión</h1>
          <input type="text" id="login" class="fadeIn second" name="username" id="username" placeholder="Usuario">
          <input type="password" id="password" class="fadeIn third" name="password" id="password" placeholder="Contraseña">
          <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          {{ form.non_field_errors }}
        </div>

      </div>
    </div>

  </body>
</html>
