<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'img/icons/logotec.ico' %}"/>
    <title>Lista de Proyectos</title>
  </head>
  <body>
    {% include "menu/menu_inicio.html" %}
    <div class="container wrapper contenido ">
      <h1>Lista de Proyectos</h1>

      {% for proyecto in proyectos %}
        {% if proyecto.nombre_sin != 'na' %}
          <div class="mt-4">
            <div class="card">
              <h1 class="card-header">{{proyecto.nombre_sin}}</h1>
              <div class="card-body">
                <p>{{proyecto.sintesis}}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </body>
</html>
