<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'img/icons/logotec.ico' %}"/>
    <title>Nuevo Miembro</title>
  </head>
  <body>
    {% if 1 == admin %}
      {% include "menu/menu_admin.html" %}
    {% else %}
      {% include "menu/menu_interno.html" %}
    {% endif %}
    <div class="container wrapper contenido mt-3">
      <div class="card">
        <h1 class="card-header" >Nueno Intregrante</h1>
        <div class="card-body">
          <h2></h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="id_id_proyecto">Id proyecto:</label><input type="text" class="form-control" name="id_proyecto" readonly required id="id_id_proyecto" value="{{id}}">
            </div>
            <div class="form-group">
            <label for="id_id_usuario">Id usuario:</label><input type="text" class="form-control" name="id_usuario" id="id_id_usuario" value="" >
            </div>
            <div class="form-group ">
            <label for="id_encargo">Encargo:</label><select class="form-control" name="encargo" required id="id_encargo">
              <option value="Alumno">Integrante</option>
              <option value="Asesor">Asesor</option>
            </select>
            </div>
            <div class="form-group">
              {% if messages %}
                  {% for message in messages %}
                    {{message}}
                  {% endfor %}
              {% endif %}
            <button type="submit" name="button" class="btn float-right btn-primary">Agregar</button>
            </div>
          </form>
        </div>
        <h5 class="text-center">{{ form.non_field_errors }}</h5>
      </div>

      <div class="container mt-3">
        <h3>Integrantes Actuales</h3>
        <div class="container">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Encargo</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for integrante in integrantes %}
                {% for usuario in usuarios %}
                  {% if integrante.id_usuario == usuario.id_usuario %}

                    <tr>
                      <td>{{usuario.id_usuario}}</td>
                      <td>{{usuario.nombre}}</td>
                      <td>{{usuario.primer_ap}}</td>
                      <td>{{integrante.encargo}}</td>
                      <td><button type="button" name="button" data-toggle="modal" data-target="#exampleModalCenter{{integrante.id}}" class="btn btn-danger">Borrar</button></td>
                      <div class="modal fade" id="exampleModalCenter{{integrante.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle{{integrante.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle{{integrante.id}}">Borrar Miembro</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              <a type="button" class="btn btn-primary" href="{% url 'proyecto:borrar_int' id  integrante.id %}" >Borrar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
