<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <title></title>
  </head>
  <body>

    <nav id="header" class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark ml-auto">
          <div class="container-fluid">

            <img src="{% static 'img/logoLI.png' %}" class="logo">
            <div class="navbar-header">
              <h4> Laboratorio de Investigaci&oacute;n</h4>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'proyecto:lista_proyectos' %}">Proyectos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'proyecto:crear_proyecto' %}">Nuevo Proyecto</a>
                      </li>
                      <li class="nav-item">
                          <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</button>

                            <div class="dropdown-menu">
                    					<h6 class="dropdown-header">{{user.username}}</h6>
                    					<a href="{% url 'proyecto:editar_usuario' %}" class="dropdown-item">Datos</a>
                    					<a href="" class="dropdown-item">Acerca de...</a>
                              <div class="dropdown-divider"></div>
                    					<a href="{% url 'proyecto:salir' %}" class="dropdown-item">Cerrar Sesion</a>
                            </div>
                          </div>
                      </li>
                  </ul>

                  <div>

                  </div>

              </div>

          </div>
      </nav>

  </body>
</html>
