<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <title></title>
  </head>
  <body>

    <nav id="header" class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark ml-auto" >
          <div class="container-fluid">
            <img src="{% static 'img/logoLI.png' %}" class="logo">
            <div class="navbar-header">
              <h4> Laboratorio de Investigaci&oacute;n</h4>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.tecjerez.edu.mx">Instituto</a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'proyecto:lista_sin' %}">Proyectos</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <button type="button" class="btn btn-outline-primary" onclick="iniciar_sesion()">Iniciar Sesión</button>
                      </li>
                  </ul>
              </div>

          </div>
      </nav>

      <script type="text/javascript">

        function iniciar_sesion(){
            location.href="{% url 'proyecto:sesion' %}";
        }

        function inicio(){
          location.href="{% url 'proyecto:inicio' %}";
        }

      </script>

  </body>
</html>
